* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 2px solid red; */
}

html,body {
    height: 100%;
}

body {
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.boxes{
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    align-content: center;
    justify-content: center;
    height: 800px;
    width: 800px;
}

.box {
    display: flex;
    flex-grow: 1;
    background-color: white;
    border: 1px solid black;
    justify-items: center;
    align-items: center;
}